{% extends 'brain_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-10 mx-lg-auto mx-md-auto">
            <h3>🧠 External Brain</h3>
            <div class="row">
                <div class="col">
                    <b>{{ bot_name }}</b> - Skills: {{ bot_skills }}
                </div>
                <div class="col text-right">
                    <img src="/static/bot.png" width="100" alt="Bot">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ llm_result }}
                </div>
            </div>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>

<!-- JavaScript code to set focus -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the input element by its id
        var myInput = document.getElementById('question');

        // Set focus on the input element
        myInput.focus();
    });
</script>

{% endblock %}