{% extends 'brain_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-10 mx-lg-auto mx-md-auto">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td><h3>Total facts to chunk: {{ fact_count }}</h3></td>
                    </tr>
                </tbody>
            </table>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>

{% endblock %}