{% extends 'brain_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-10 mx-lg-auto mx-md-auto">

            <h3 class="pt-5 pb-2">Fact List - {{ facts_count }} facts</h1>

            {{ wtf.quick_form(form) }}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Contex</th>
                        <th>Fact</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th><a href="facts?page={{ page - 1}}">⬅️</a></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><a href="facts?page={{ page + 1}}">➡️</a></th>
                    </tr>
                    {% for fact in facts %}
                    <tr>
                        <td>{{ fact.user }}</td>
                        <td>{{ fact.date }}</td>
                        <td>{{ fact.context }}</td>
                        <td>{{ fact.fact }}</td>
                        <td><a href="edit/{{ fact._id}}">🖊️</a></td>
                        <td><a href="delete/{{ fact._id}}">🔫</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th><a href="facts?page={{ page - 1}}">⬅️</a></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><a href="facts?page={{ page + 1}}">➡️</a></th>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}